$red: #6C0120;
// $light-red: adjust-color($red, )
$blue: #058ED9;
$dark-blue: #03012C;
$green: #14B885;
$white: #EAF4F4;
$black: #010114;

$trans-time: 0.2s;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Karla:wght@200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
