@import '../../../variables.scss';

.ViewWrapper {
    min-width: fit-content;
    transition-duration: 0.1s;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 1em;
    padding: max(2vw, 10px) !important;
    @media (max-width: 768px) {
        padding: 2vw !important;
        font-size: 1em !important;
        border-radius: 0 !important;
        width: calc(100vw - 4vw) !important;
        height: calc(100dvh - 4vw) !important;
    }
}
