@import '../variables.scss';

body {
    height: 100vh;
}

#root {
    background: rgb(254, 254, 254);
    background: linear-gradient(275deg, $white 41%, $grey 100%);
    background-size: cover;
}

.class {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.standardTextInput {
    background-color: $white;
    width: 100%;
}

.searchBar {
    margin-left: 9.3%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: $white;
    width: 53%;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;

    .TextInput {
        margin-left: 1.5%;
        border: none;
    }

    .TextInput input {
        font-size: 20px;

        &:focus {
            display: flex;
        }
    }
}

.searchSVG {
    transform: scale(1.2);
}

.userArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 5%;
    right: 0;
    // margin-right: 2vw;
    // p {
    //     color: white;
    //     font-size: 23px;
    // }
    svg {
        transform: scale(2.5);
        color: white;
        transition: $trans-time;
        &.click {
            transform: scale(2.7);
        }
    }
    svg:hover {
        cursor: pointer;
        transition: $trans-time;
        transform: scale(2.7);
    }
}

.userBox {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $red;
    border-radius: 10px;
    padding: 0.8vw;
    width: 8vw;
    position: absolute;
    top: 8vh;
    right: 3.6vw;
    svg {
        margin: 1vh 0;
        transform: scale(2.3);
    }
    a {
        margin-top: 0.6vw;
        font-size: 20px;
        color: white;
    }
    a:hover {
        color: $grey;
    }
    p {
        margin-top: 1vw;
        font-size: 20px;
        color: white;
    }
    .info {
        color: $grey;
    }
    .user:hover {
        cursor: pointer;
    }
    .Button {
        margin-top: 3vh;
        margin-bottom: 0.5vh;
        // align-self: flex-start;
    }
}

.classes {
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding-top: 67px;
    padding-bottom: 10px;
}

.subClasses {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    width: 80%;
    text-decoration: none;
    max-height: 7vw;
    display: flex;
    border: 2px solid rgb(187, 187, 187);
    justify-content: space-around;
    background-color: adjust-color(
        $red,
        $hue: 0,
        $saturation: -20%,
        $lightness: 80%,
        $alpha: 1
    );
    border-radius: 10px;
    flex-flow: column;

    .topPart {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

    .middlePart {
        transition: $trans-time;
        width: 100%;

        button {
            background-color: $blue;
        }
    }

    .bottomPart {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.subClasses:hover {
    border: 2px solid $blue;
    cursor: pointer;

    .buttonFilter {
        transition: 0.1s;
        opacity: 100%;
    }
}

.searchArea {
    position: absolute;
    z-index: 3;
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $red;
}

.advancedSearchBoxSurround {
    position: absolute;
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
}

.userBoxSurround {
    position: absolute;
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 0;
}

.advancedSearch {
    display: flex;
    align-items: center;
    user-select: none;

    svg {
        transition: $trans-time;
        margin-top: 3px;
        margin-left: 10px;
        color: white;
    }

    &.click {
        svg {
            transition: $trans-time;
            margin-top: 1px;
            transform: rotate(90deg);
        }
    }
}

.noClass {
    margin-top: 40vh;
    font-size: 30px;
    color: rgb(147, 147, 147);
}

.buttonFilter {
    opacity: 0;
    transition: 0.1s;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    height: 100%;

    .Button {
        margin-right: 0.7vw;
    }
}

.advancedSearchBox {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    // display: flex;
    flex-flow: column;
    font-size: 20px;
    justify-content: center;
    width: 10vw;
    background-color: $red;
    border: 1px solid
        adjust-color(
            $red,
            $hue: 0,
            $saturation: -40%,
            $lightness: 10%,
            $alpha: 1
        );
    position: absolute;
    top: 5.5vh;
    left: 62vw;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;

    select {
        font-size: 17px;
        background-color: white;
        width: 100%;
    }

    input {
        background-color: white;
        border: 1px solid grey;
        padding: 1px;
        font-size: 15px;
        width: 98%;
    }
    p {
        color: white;
    }

    .Button {
        font-size: 15px;
        width: 100%;
        margin-top: 1.5vw;
    }
}

.normal {
    width: 100%;
}

.administrator {
    text-decoration: none;
    width: 80%;
}

.ModalChild {
    z-index: 4;
}

.classModal {
    transition: $trans-time;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height: 50%;
    background-color: $white;
    position: absolute;
    border: 2px solid rgb(187, 187, 187);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .topPart {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .close {
            color: $red;
        }
        .close:hover {
            cursor: pointer;
            color: adjust-color(
                $red,
                $hue: 0,
                $saturation: -50%,
                $lightness: 20%,
                $alpha: 1
            );
        }
    }
    .bottomPart {
        display: flex;
        justify-content: space-between;
        width: 97.5%;
        position: absolute;
        bottom: 15%;
    }
    .modalButton {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

.classAndTeach {
    display: flex;
    flex-flow: column;
    .modalClass {
        font-size: 40px;
        font-weight: 700;
        position: relative;
        right: 1px;
    }
    .modalTeach {
        position: relative;
        top: -10px;
    }
}
